

@import "tailwindcss";

body {
  margin: 0;
  background-image: url("/res7.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 12px;
}

